---
import { getPage } from '../../lib/kv';

const { page } = Astro.params;

if (!page) throw new Error('page 参数缺失');

const data = await getPage(page);

if (!data) throw new Error('页面未找到');
---

<article>
  <h1>{data.title}</h1>
  <pre>{data.content}</pre>
</article>
